$header-height: 60px;

header {
    position: fixed;
    background-color: bisque;
    height: $header-height;
    width: 100%;
    z-index: 10000;
    
    nav {
        height: 100%;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            list-style: none;
            gap: 20px;
            transition: transform 0.5s;

            li {
                color: black;
                &:hover {
                background-color: white;
                }
            }
        }
    }
}

.menu {
    .odd {
        color: red;
    }
    
    .even {
        color: orange;
    }

    .yellow {
        color: yellow;
    }

    .green {
        color: green;
    }

}

.card-box {
    max-width: 800px;  // 일정 크기 제한을 두어 중앙 정렬이 가능하도록 설정
    padding-top: $header-height + 10px;

    // Flexbox 레이아웃 설정
    display: flex;
    gap: 10px; // 각 카드들 사이의 간격을 10px로 설정
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin: 0 auto; // 중앙 정렬을 위해 자동 마진 설정

    .card-container {
        width: 100px;
        height: 150px;

        .card {
            width: 100%;
            height: 100%;
            border: 1px solid red;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: transform 0.5s;
            z-index: 10000; // 카드가 겹칠 때 z-index 설정
        }

        .card:hover {
            transform: scale(1.5); // 카드에 마우스를 올렸을 때 확대 및 기울임 효과
        }
    }
}

$path: "./Cards/";       // 카드 이미지가 저장된 경로
$prefix:"cardDiamonds";  // 카드 이미지 파일 이름 접두사

@for $i from 1 through 13 {
    $label: $i;

    @if $i == 1 {
        $label: "A"
    } @else if $i == 11 {
        $label: "J"
    } @else if $i == 12 {
        $label: "Q"
    } @else if $i == 13 {
        $label: "K"
    }
    // 가상 클래스 : nth-child를 사용하여 각 카드에 대해 스타일 적용
    .card-container:nth-child(#{$i}) .card {
        background-image: url("#{$path}#{$prefix}#{$label}.png"); // 짝수번째 카드에 하트 카드 이미지 적용
    }
}

footer {
    width: 100%;
    background-color: bisque;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 10000;

    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        flex: 1 1 0px;
        border: black 0.5px dashed;

        .img {
            height: 100%;
            width: 100%;
        }
        
    }

    .contact-info {
        flex: 3 1 0;
        border: black 0.5px dashed;
    }
}